@import "_header";

$bo: 100px;
//$bo - variable

body {
	div {
		.box1 {
			width: 80px;
			height: 200px;
			background: brown;
			border: 1px solid red;
			&.box_1 {
				width: 200px;
				height: $bo;
			}
			&.box_2 {
				background: chartreuse;
			}
		}
	}
}
